<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.monitor.mapper.StationMapper">
    <resultMap id="BaseResultMap" type="com.wu.monitor.model.Station">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="mac_address" property="macAddress" />
        <result column="ip_address" property="ipAddress" />
        <result column="model" property="model" />
        <result column="firmware_version" property="firmwareVersion" />
        <result column="map_id" property="mapId" />
        <result column="position_x" property="positionX" />
        <result column="position_y" property="positionY" />
        <result column="position_z" property="positionZ" />
        <result column="orientation" property="orientation" />
        <result column="status" property="status" />
        <result column="scan_enabled" property="scanEnabled" />
        <result column="last_communication" property="lastCommunication" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
        <result column="map_name" property="mapName" />
    </resultMap>
    
    <sql id="Base_Column_List">
        s.id, s.code, s.name, s.mac_address, s.ip_address, s.model, s.firmware_version, 
        s.map_id, s.position_x, s.position_y, s.position_z, s.orientation, s.status, 
        s.scan_enabled, s.last_communication, s.create_time, s.remark
    </sql>
    
    <select id="selectAllStations" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />, m.name as map_name
        FROM station s
        LEFT JOIN map m ON s.map_id = m.id
        <where>
            <if test="code != null and code != ''">
                AND s.code LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="name != null and name != ''">
                AND s.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="status != null">
                AND s.status = #{status}
            </if>
        </where>
        ORDER BY s.create_time ASC
    </select>
    
    <select id="selectStationById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />, m.name as map_name
        FROM station s
        LEFT JOIN map m ON s.map_id = m.id
        WHERE s.id = #{id}
    </select>
    
    <select id="selectStationByMacAddress" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />, m.name as map_name
        FROM station s
        LEFT JOIN map m ON s.map_id = m.id
        WHERE s.mac_address = #{macAddress}
    </select>
    
    <select id="selectStationByCode" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />, m.name as map_name
        FROM station s
        LEFT JOIN map m ON s.map_id = m.id
        WHERE s.code = #{code}
    </select>
    
    <select id="selectStationsByMapId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />, m.name as map_name
        FROM station s
        LEFT JOIN map m ON s.map_id = m.id
        WHERE s.map_id = #{mapId}
    </select>
    
    <insert id="insertStation" parameterType="com.wu.monitor.model.Station" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO station (
            code, name, mac_address, ip_address, model, firmware_version,
            map_id, position_x, position_y, position_z, orientation,
            status, scan_enabled, last_communication, create_time, remark
        )
        VALUES (
            #{code}, #{name}, #{macAddress}, #{ipAddress}, #{model}, #{firmwareVersion},
            #{mapId}, #{positionX}, #{positionY}, #{positionZ}, #{orientation},
            #{status}, #{scanEnabled}, #{lastCommunication}, #{createTime}, #{remark}
        )
    </insert>
    
    <update id="updateStation" parameterType="com.wu.monitor.model.Station">
        UPDATE station
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="macAddress != null">mac_address = #{macAddress},</if>
            <if test="ipAddress != null">ip_address = #{ipAddress},</if>
            <if test="model != null">model = #{model},</if>
            <if test="firmwareVersion != null">firmware_version = #{firmwareVersion},</if>
            <if test="mapId != null">map_id = #{mapId},</if>
            <if test="positionX != null">position_x = #{positionX},</if>
            <if test="positionY != null">position_y = #{positionY},</if>
            <if test="positionZ != null">position_z = #{positionZ},</if>
            <if test="orientation != null">orientation = #{orientation},</if>
            <if test="status != null">status = #{status},</if>
            scan_enabled = #{scanEnabled},
            <if test="lastCommunication != null">last_communication = #{lastCommunication},</if>
            <if test="remark != null">remark = #{remark}</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="updateStationStatus">
        UPDATE station
        SET status = #{status}, 
            last_communication = #{lastCommunication}
        WHERE id = #{id}
    </update>
    
    <update id="updateStationStatusAndScan">
        UPDATE station
        SET status = #{status}, 
            scan_enabled = #{scanEnabled},
            last_communication = #{lastCommunication}
        WHERE id = #{id}
    </update>
    
    <delete id="deleteStationById">
        DELETE FROM station WHERE id = #{id}
    </delete>
    
    <delete id="batchDeleteStations">
        DELETE FROM station WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper> 