<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wu.monitor.mapper.TagMapper">
    <resultMap id="BaseResultMap" type="com.wu.monitor.model.Tag">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="group_name" property="groupName" />
        <result column="mac_address" property="macAddress" />
        <result column="model" property="model" />
        <result column="firmware_version" property="firmwareVersion" />
        <result column="map_id" property="mapId" />
        <result column="map_name" property="mapName" />
        <result column="rssi" property="rssi" />
        <result column="position_x" property="positionX" />
        <result column="position_y" property="positionY" />
        <result column="position_z" property="positionZ" />
        <result column="battery_level" property="batteryLevel" />
        <result column="status" property="status" />
        <result column="last_seen" property="lastSeen" />
        <result column="create_time" property="createTime" />
        <result column="remark" property="remark" />
    </resultMap>
    
    <sql id="Base_Column_List">
        t.id, t.code, t.name, t.group_name, t.mac_address, t.model, t.firmware_version, 
        t.map_id, t.map_name, t.rssi, t.position_x, t.position_y, t.position_z, 
        t.battery_level, t.status, t.last_seen, t.create_time, t.remark
    </sql>
    
    <select id="selectAllTags" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tag t
        <where>
            <if test="code != null and code != ''">
                AND t.code LIKE CONCAT('%', #{code}, '%')
            </if>
            <if test="name != null and name != ''">
                AND t.name LIKE CONCAT('%', #{name}, '%')
            </if>
            <if test="groupName != null and groupName != ''">
                AND t.group_name LIKE CONCAT('%', #{groupName}, '%')
            </if>
            <if test="status != null">
                AND t.status = #{status}
            </if>
        </where>
        ORDER BY t.create_time ASC
    </select>
    
    <select id="selectTagById" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tag t
        WHERE t.id = #{id}
    </select>
    
    <select id="selectTagByMacAddress" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tag t
        WHERE t.mac_address = #{macAddress}
    </select>
    
    <select id="selectTagByCode" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tag t
        WHERE t.code = #{code}
    </select>
    
    <select id="selectTagsByMapId" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tag t
        WHERE t.map_id = #{mapId}
        ORDER BY t.create_time ASC
    </select>
    
    <select id="selectTagsByGroupName" resultMap="BaseResultMap">
        SELECT <include refid="Base_Column_List" />
        FROM tag t
        WHERE t.group_name = #{groupName}
        ORDER BY t.create_time ASC
    </select>
    
    <insert id="insertTag" parameterType="com.wu.monitor.model.Tag" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO tag (
            code, name, group_name, mac_address, model, firmware_version, 
            map_id, map_name, rssi, position_x, position_y, position_z, 
            battery_level, status, last_seen, create_time, remark
        )
        VALUES (
            #{code}, #{name}, #{groupName}, #{macAddress}, #{model}, #{firmwareVersion}, 
            #{mapId}, #{mapName}, #{rssi}, #{positionX}, #{positionY}, #{positionZ}, 
            #{batteryLevel}, #{status}, #{lastSeen}, #{createTime}, #{remark}
        )
    </insert>
    
    <update id="updateTag" parameterType="com.wu.monitor.model.Tag">
        UPDATE tag
        <set>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="groupName != null">group_name = #{groupName},</if>
            <if test="macAddress != null">mac_address = #{macAddress},</if>
            <if test="model != null">model = #{model},</if>
            <if test="firmwareVersion != null">firmware_version = #{firmwareVersion},</if>
            <if test="mapId != null">map_id = #{mapId},</if>
            <if test="mapName != null">map_name = #{mapName},</if>
            <if test="rssi != null">rssi = #{rssi},</if>
            <if test="positionX != null">position_x = #{positionX},</if>
            <if test="positionY != null">position_y = #{positionY},</if>
            <if test="positionZ != null">position_z = #{positionZ},</if>
            <if test="batteryLevel != null">battery_level = #{batteryLevel},</if>
            <if test="status != null">status = #{status},</if>
            <if test="lastSeen != null">last_seen = #{lastSeen},</if>
            <if test="remark != null">remark = #{remark}</if>
        </set>
        WHERE id = #{id}
    </update>
    
    <update id="updateTagStatus">
        UPDATE tag
        SET status = #{status},
            rssi = #{rssi},
            position_x = #{positionX},
            position_y = #{positionY},
            position_z = #{positionZ},
            battery_level = #{batteryLevel},
            last_seen = #{lastSeen}
        WHERE id = #{id}
    </update>
    
    <delete id="deleteTagById">
        DELETE FROM tag WHERE id = #{id}
    </delete>
    
    <delete id="batchDeleteTags">
        DELETE FROM tag WHERE id IN
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper> 